.grid {
  display: flex; }

.grid-cell--full {
  flex: 1; }

.grid--fit > .grid-cell {
  flex: 1; }

.grid--full > .grid-cell {
  flex: 0 0 100%; }

.grid--1of2 > .grid-cell {
  flex: 0 0 50%; }

.grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%; }

.grid--1of4 > .grid-cell {
  flex: 0 0 25%; }

.aligner {
  display: flex;
  align-items: center;
  justify-content: center; }

.aligner--left {
  justify-content: flex-start; }

.aligner--right {
  justify-content: flex-end; }

.aligner-item {
  max-width: 50%; }

.aligner-item--top {
  align-self: flex-start; }

.aligner-item--bottom {
  align-self: flex-end; }
